@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    overflow: hidden;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
    width: 250px;
    text-align: start;
    background-color: #DBF2FF;
    font-weight: 500;
}

.lista-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:  center;
    justify-content: center;
    margin-top: 40px;
    list-style: none;

}

.lista-links a {
    text-decoration: none; /* Remove o sublinhado do link */
}

.link-recomendacoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-links{
    height: 16px;
    width: 16px;
    margin-left: 16px;
}

 aside button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-size: 16px;
    border-radius: 9px;
    background-color: #617999;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s;
}

aside button:hover{
    background-color: #516585;
    transform: scale(1.05);
}

.logo{
   width: 150px;
   height: auto;
   margin-bottom: 20px;
}

main{
    background-color: #124975;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;

}

.conteudo h1{
    font-size: 48px;
    font-weight: 600;
    color: #DBF2FF;
    margin-bottom: 20px;
}


.conteudo{
    text-align: center;
    margin-top: -250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.conteudo input{
    padding: 20px 15px;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
    outline: none;
    background-color: rgba(97, 121, 153, 0.13);
    font-family: "Josefin Sans", sans-serif;
    color: #DBF2FF;
    box-sizing: border-box;
}

.token-button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-top: 16px;
    cursor: pointer;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    background-color: #617999;
    color: #DBF2FF;
    transition: 0.4s;
}

.token-button:hover {
    background-color: transparent;
    border: 2px solid #DBF2FF;
    color: white;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #124975;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-screen figure {
    position: relative;
    margin: auto;
    width: 6.250em; height: 6.250em;
    animation: rotate 2.4s linear infinite;
}

#loading-screen .white {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: white;
    animation: flash 2.4s linear infinite;
    opacity: 0;
}

#loading-screen .dot {
    position: absolute;
    margin: auto;
    width: 2.4em; height: 2.4em;
    border-radius: 100%;
    transition: all 1s ease;
}

#loading-screen .dot:nth-child(2) { top: 0; bottom: 0; left: 0; background: #FF4444; animation: dotsY 2.4s linear infinite; }
#loading-screen .dot:nth-child(3) { left: 0; right: 0; top: 0; background: #FFBB33; animation: dotsX 2.4s linear infinite; }
#loading-screen .dot:nth-child(4) { top: 0; bottom: 0; right: 0; background: #99CC00; animation: dotsY 2.4s linear infinite; }
#loading-screen .dot:nth-child(5) { left: 0; right: 0; bottom: 0; background: #33B5E5; animation: dotsX 2.4s linear infinite; }

@keyframes rotate {
    0% { transform: rotate( 0 ); }
    10% { width: 6.250em; height: 6.250em; }
    66% { width: 2.4em; height: 2.4em; }
    100%{ transform: rotate(360deg); width: 6.250em; height: 6.250em; }
  }
  
  @keyframes dotsY {
    66% { opacity: .1; width: 2.4em; }
    77%{ opacity: 1; width: 0; }
  }
  @keyframes dotsX {
    66% { opacity: .1; height: 2.4em;}
    77%{ opacity: 1; height: 0; }
  }
  
  @keyframes flash {
    33% { opacity: 0; border-radius: 0%; }
    55%{ opacity: .6; border-radius: 100%; }
    66%{ opacity: 0; }
  }







